In [5]:
import altair as alt
import pandas as pd


data_path = 'data/AUM_V4_Activity_2018-06-21_17-16-27.csv'

In [9]:
df = pd.read_csv(data_path, parse_dates=[['Date', 'Time']])
df = df[:-3]
df = df.set_index('Date_Time')
# index = pd.DatetimeIndex(df.Date_Time)
# df = pd.Series(df['App name', 'Duration'], index=index)
df.head(10)

                                 App name Duration
Date_Time
6/21/18 3:06:30 PM                OkCupid  0:14:11
6/20/18 10:53:57 PM                  Maps  0:00:02
6/21/18 12:36:21 PM           Huawei Home  0:00:05
6/19/18 9:13:16 AM    Screen off (locked)  0:06:25
6/14/18 5:28:05 PM   Screen on (unlocked)  0:00:01
6/14/18 9:16:10 AM   Screen on (unlocked)  0:00:00
6/15/18 10:29:49 AM    Screen on (locked)  0:00:06
6/20/18 12:54:12 PM   Screen off (locked)  0:01:33
6/18/18 11:38:05 AM                Chrome  0:00:01
6/17/18 1:28:34 PM            Huawei Home  0:00:03

In [12]:
df.dtypes

App name    object
Duration    object
dtype: object

## Convert Duration to TimeDelta

In [16]:
df['Duration'] = pd.to_timedelta(df.Duration)

In [ ]:
tinder = df['App name'] == "Tinder"